    .card {
        background: #1b1b1b;
        padding: 20px;
        margin: 20px;
        border-radius: 12px;
        color: white;
        max-width: 450px;
    }
    input, button {
        padding: 10px;
        margin-top: 10px;
        width: 100%;
        border-radius: 8px;
        border: none;
    }
    button {
        background: #ff9800;
        color: white;
        cursor: pointer;
        margin-bottom: 5px;
    }
    .resultado {
        margin-top: 15px;
        padding: 15px;
        border-radius: 10px;
        font-size: 17px;
        color: black;
        font-weight: bold;
    }